<form [formGroup]="loginFg">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="row mt-5">
      <div class="card card-primary">
        <div class="card-header">
          <h2>Sign-in Form</h2>
        </div>
        <div class="card-body">

          <label class="form-label ms-2 mb-2">Email</label>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email"  formControlName="email" email>
          </div>
          <div *ngIf="loginFg.controls['email'].touched
                        && loginFg.controls['email'].errors
                        && loginFg.controls['email'].errors['email']
                        && loginFg.controls['email'].errors['required']" style="color:red">
            Email is required.
          </div>
          <label class="form-label ms-2 mb-2">Password</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" formControlName="password">
          </div>
          <div *ngIf="loginFg.controls['password'].touched
                        && loginFg.controls['password'].errors
                        && loginFg.controls['password'].errors['required']" style="color:red">
            Password is required.
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button type="button" class="btn btn-lg btn-success me-2" (click)="goToAdminPanel()">Entry as an Admin</button>
              <button type="button" class="btn btn-lg btn-info" (click)="goToDashboard()">Skip</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="warningAlert === true">
      <ngb-alert class="alert-danger" (closed)="close()">{{ "Invalid Email or Password!" }}</ngb-alert>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
</form>
